<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Apolline Science</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        An app to generate CSV from Apolline Databases
      </p>
    </div>
    <hr>
    <button type="button" class="btn btn-default" ng-click="isCollapsedDB = !isCollapsedDB">1. Choose Database</button>
    <hr>
    <div id="collapsedDB" uib-collapse="!isCollapsedDB">
      <div class="well well-lg">
        <div class="row">
          <form ng-submit="ChooseDatabase()">
            <div class="form-group">
              <select name="database" ng-model="databaseName" class="form-control" style="width:50%; float:left" required>
                <option value="_internal">_internal</option>
                <option value="esp">esp</option>
                <option value="loa">loa</option>
                <option value="qarpediem">qarpediem</option>
                <option value="sandbox">sandbox</option>
                <option value="test">test</option>
              </select>
              <button type="submit" id="onClickDB" class="btn btn-success btn-lg" target="_blank" rel="noopener" style="float:right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    
    <button id="forMeasurement" type="button" class="btn btn-default" ng-click="isCollapsedMeasure = !isCollapsedMeasure" disabled>2. Choose the Measurements</button>
    <hr>
    <div id="collapsedMeasure" uib-collapse="!isCollapsedMeasure">
      <div class="well well-lg">
        <div class="row">
          <form>
            <div class="form-group">
              <li ng-repeat="measurement in checkboxMeasurement" style="width:50%; float:left;">
                  <input type="checkbox" class="measurementValue" value="{{measurement}}"> {{measurement}}
              </li>
              <button type="submit" id="onClickMeasurements" class="btn btn-success btn-lg" style="float:right; margin-top: 5px">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    
    <button id="forTags" type="button" class="btn btn-default" ng-click="isCollapsedTags = !isCollapsedTags" disabled>3. Choose the Tags</button>
    
    <div id="collapsedTags" uib-collapse="!isCollapsedTags">
      <div class="well well-lg">
        <div class="row">
          <form>
            <div class="form-group">
              <h3>Choose the tags</h3>
              <ul ng-repeat="measureAndTags in tagsElements" style="width:50%; float:left">
                <h4>{{measureAndTags.measurement}}</h4><br>
                <li ng-repeat="tag in measureAndTags.tags track by $index">
                  <input type="checkbox" class="tagsValue" value="{{tag.toString()}}" checked>{{tag.toString()}}
                </li>
              </ul>
              <button type="submit" id="onClickTags" class="btn btn-success btn-lg" style="float:right;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>
    <button id="forDate" type="button" class="btn btn-default" ng-click="isCollapsedDate = !isCollapsedDate" disabled>4. Choose the date</button>
    <div id="collapsedDate" uib-collapse="!isCollapsedDate">
      <div class="well well-lg">
        <div class="row">
          <form>
            <h4>Choose the period</h4>
            <input type="checkbox" id="allData"> No filter with date
            <br>
            <br>
            <h4>Beginning Date</h4>
            <input type="date" id="beginDate">
            <br>
            <br>
            <h4>Ending Date</h4>
            <input type="date" id="endDate">
            <br>
            <br>
            <button type="submit" id="generate" class="btn btn-success btn-lg" style="float:right">
              Generate CSV
            </button>
            <a class="btn" ng-href="{{ url }}" hidden></a>
          </form>
        </div>
      </div>
    </div>
  </div> 

</section>
<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">Apolline Science</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      A link to the InfluxDB API <a href="https://apolline.inria.fr:8083">Apolline</a>.
    </span>
  </div>
</footer>
