<section>
  <div class="jumbotron">
    <h4 style="margin-left:5%">Choose the DataBase</h4>
    <mat-form-field style="margin-left:5%">
      <select matNativeControl required>
        <option value="apolline">apolline</option>
        <option value="connected-table">connected-table</option>
        <option value="esp">esp</option>
        <option value="loa">loa</option>
        <option value="qarpediem">qarpediem</option>
        <option value="sandbox">sandbox</option>
        <option value="test">test</option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left:5%">Generate</button>
  </div>
  <footer>
    <div class="container">
      <a class="logo-font" routerLink="/">Apolline Science</a>
      <span class="attribution">
        &copy; {{ today | date: 'yyyy' }}.
        A link to the InfluxDB API <a href="https://apolline.inria.fr:8083">Apolline</a>.
      </span>
    </div>
  </footer>
</section>
