<section>
    <div class="jumbotron text-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <h1>Apolline Science</h1>
          </div>
        </div>
        <br>
        <div class="row">
          <p class="lead">
            Choose the measurements to generate the desired CSV
          </p>
        </div>
        <div class="row">
          <form>
            <div class="form-group">
              <li ng-repeat="measurement in checkboxMeasurement">
                  <input type="checkbox" class="measurementValue" value="{{measurement}}"> {{measurement}}
              </li>
              <button type="submit" ng-click="onClick()" class="btn btn-success btn-lg" style="float:right">Next</button>
            </div>
          </form>
        </div>
      </div>
</section>
<footer>
    <div class="container">
      <a class="logo-font" routerLink="/">Apolline Science</a>
      <span class="attribution">
        &copy; {{ today | date: 'yyyy' }}.
        A link to the InfluxDB API <a href="https://apolline.inria.fr:8083">Apolline</a>.
      </span>
    </div>
  </footer>
